<div class="card">
  <div
    class="card-body d-flex text-center justify-content-center"
    style="min-height: 350px; user-select: none; flex-direction: column"
  >
    <div *ngIf="chart.status.isEmpty; else NotEmpty" class="my-auto">
      Não existem dados para o filtro atual
    </div>
    <ng-template #NotEmpty>
      <div
        *ngIf="chart.status.hasErrors; else NotError"
        class="my-auto"
        style="color: red"
      >
        Houve um erro ao obter os dados de
        <div class="text-lowercase">{{ chart.label }}</div>
        <!-- //TODO Adiciona um botão de tentar novamente -->
      </div>
      <ng-template #NotError>
        <div
          *ngIf="chart.status.fetching; else Sucess"
          class="my-auto"
          style="color: red"
        >
          <div [hidden]="!chart.status.fetching">
            <mat-progress-spinner
              [diameter]="40"
              color="primary"
              mode="indeterminate"
            >
            </mat-progress-spinner>
          </div>
        </div>
        <ng-template #Sucess>
          <h5 class="card-title">{{ chart.label }}</h5>
          <table class="table table-sm">
            <thead >
              <tr class="d-flex justify-content-around">
                <th scope="col" class="w-100"></th>
                <th *ngFor="let col of chart.columns" scope="col" class="w-100">
                  {{ col }}
                </th>
              </tr>
            </thead>
          </table>
          <div style="width: 100%; overflow: auto; max-height: 300px">
            <table class="table table-sm">
              <tbody>
                <tr *ngFor="let dt of chart.data; index as i">
                  <th scope="row">{{ i }}</th>
                  <td>{{ dt.name }}</td>
                  <td>{{ dt.value }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ng-template>
    </ng-template>
  </div>
</div>
