<div class="page-wrapper">
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Submissões</h4>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div [hidden]="!(isAdmin$ | async)" class="d-flex flex-column h-padding">
      <div>
        <label>Escolha o evento</label>
      </div>
      <div>
        <select
          class="select2 form-control select2-hidden-accessible font-big"
          style="width: 100%; height: 36px"
          aria-hidden="true"
          [(ngModel)]="selectedEvent"
        >
          <option [ngValue]="null"></option>
          <option *ngFor="let e of events; let i = index" [ngValue]="e">
            {{ e.short_name }}
          </option>
        </select>
      </div>
      <div
        *ngIf="selectedEvent && selectedEvent.tracks.length > 0"
        class="track-title"
      >
        <label>Escolha a trilha do evento</label>
      </div>
      <div class="row flex-row justify-content-center" *ngIf="selectedEvent">
        <div
          *ngFor="let t of selectedEvent.tracks"
          class="card card-hover col-md-2 margin"
          [style.background-color]="
            t.color !== '#fff' && t.color !== '#ffffff' ? t.color : '#000'
          "
        >
          <a (click)="loadSubmissionsByTrack(t)">
            <div class="box text-center">
              <h1 class="font-light text-white">
                <i class="mdi mdi-note-multiple"></i>
              </h1>
              <h6 class="text-white">{{ t.name }}</h6>
            </div>
          </a>
        </div>
      </div>
      <div
        *ngIf="selectedEvent && selectedEvent.tracks.length <= 0"
        class="empty-block"
      >
        Não existem trilhas cadastradas para prosseguir com a operação
      </div>

      <mat-tab-group
        [hidden]="
          submissionsAdmin.length <= 0 && submissionsAdminForAdvisor.length <= 0
        "
        [selectedIndex]="tabIndex"
      >
        <mat-tab label="Submissões da trilha">
          <div [hidden]="submissionsAdmin.length <= 0 || loading" class="card">
            <div class="card-body">
              <form [formGroup]="searchForm" class="row">
                <div class="col-11">
                  <mat-form-field style="width: 100%">
                    <mat-label>Digite sua busca</mat-label>
                    <input
                      matInput
                      type="text"
                      id="search"
                      name="search"
                      formControlName="search"
                      class="search-input"
                      (keyup.enter)="search()"
                      [ngClass]="{ 'is-invalid': f.search.errors }"
                    />
                    <mat-error> Nenhuma correspondência obtida </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-1 button_save">
                  <button
                    (click)="search()"
                    [disabled]="loading"
                    class="btn btn-secondary btn-md"
                    type="button"
                  >
                    {{ loading ? "Aguarde..." : "Buscar" }}
                  </button>
                </div>
              </form>
              <div
                class="col-12 row top-spacing"
                style="width: 100%; overflow-x: scroll"
              >
                <table mat-table matSort [dataSource]="adminDataSource">
                  <!-- Position Column -->
                  <ng-container matColumnDef="counter">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      {{ i + 1 }}
                    </td>
                  </ng-container>

                  <!-- Position Column -->
                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Título
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.title }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="cpf">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      CPF
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.user ? element.user.cpf : "" }}
                    </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="created_at">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Data
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.created_at | date : "dd/MM/yyyy" }}
                    </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="presentation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Apresentação
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.presentation }}
                    </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Status
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ getSubmissionStatus(element.status) }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="button_edit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      (click)="navigateToEditSubmission(element)"
                    >
                      <h3>
                        <i
                          matTooltip="Editar"
                          class="mdi mdi-pencil"
                          onmouseover=""
                          style="cursor: pointer"
                        ></i>
                        <span class="subtitle"> Editar</span>
                      </h3>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="button_exclude">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      (click)="openRemoveDialog(element)"
                    >
                      <h3>
                        <i
                          matTooltip="Deletar"
                          class="mdi mdi-delete"
                          onmouseover=""
                          style="cursor: pointer"
                        ></i>
                        <span class="subtitle"> Deletar</span>
                      </h3>
                    </td>
                  </ng-container>

                  <tr
                    mat-header-row
                    *matHeaderRowDef="adminDisplayedColumns"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="
                      let row;
                      columns: adminDisplayedColumns
                        | paginate
                          : {
                              itemsPerPage: pageSize,
                              currentPage: currentPage,
                              totalItems: amountUsers
                            }
                    "
                  ></tr>
                </table>
              </div>
              <div class="text-right">
                <pagination-controls
                  previousLabel="Anterior"
                  nextLabel="Próximo"
                  (pageChange)="currentPage = $event; paginate(currentPage)"
                ></pagination-controls>
              </div>
            </div>
          </div>
          <div
            *ngIf="
              selectedEvent && selectedEvent.tracks.length <= 0 && !loading
            "
            class="empty-block"
          >
            Não existem trilhas cadastradas para prosseguir com a operação
          </div>
        </mat-tab>
        <mat-tab label="Minhas orientações">
          <div
            [hidden]="submissionsAdminForAdvisor.length <= 0 || loading"
            class="card"
          >
            <div class="card-body">
              <form [formGroup]="searchForAdvisorForm" class="row">
                <div class="col-11">
                  <mat-form-field style="width: 100%">
                    <mat-label>Digite sua busca</mat-label>
                    <input
                      matInput
                      type="text"
                      id="searchAdvisor"
                      name="searchAdvisor"
                      formControlName="searchAdvisor"
                      class="search-input"
                      (keyup.enter)="searchAdvisor()"
                      [ngClass]="{
                        'is-invalid': fAdvisor.searchAdvisor.errors
                      }"
                    />
                    <mat-error> Nenhuma correspondência obtida </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-1 button_save">
                  <button
                    (click)="searchAdvisor()"
                    [disabled]="loading"
                    class="btn btn-secondary btn-md"
                    type="button"
                  >
                    {{ loading ? "Aguarde..." : "Buscar" }}
                  </button>
                </div>
              </form>
              <div
                class="col-12 row top-spacing"
                style="width: 100%; overflow-x: scroll"
              >
                <table
                  mat-table
                  matSort
                  [dataSource]="adminDataSourceForAdvisor"
                >
                  <!-- Position Column -->
                  <ng-container matColumnDef="counter">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      {{ i + 1 }}
                    </td>
                  </ng-container>

                  <!-- Position Column -->
                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Título
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.title }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="cpf">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      CPF
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.user ? element.user.cpf : "" }}
                    </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="created_at">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Data
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.created_at | date : "dd/MM/yyyy" }}
                    </td>
                  </ng-container>

                  <!-- Symbol Column -->

                  <ng-container matColumnDef="button_edit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      (click)="navigateToValidateSubmission(element)"
                    >
                      <h3>
                        <i
                          matTooltip="Editar"
                          class="mdi mdi-account-check"
                          onmouseover=""
                          style="cursor: pointer"
                        ></i>
                        <span class="subtitle"> Editar</span>
                      </h3>
                    </td>
                  </ng-container>

                  <tr
                    mat-header-row
                    *matHeaderRowDef="displayedColumnsForAdvisor"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="
                      let row;
                      columns: displayedColumnsForAdvisor
                        | paginate
                          : {
                              itemsPerPage: pageSizeForAdvisor,
                              currentPage: currentPageForAdvisor,
                              totalItems: amountOfSubmissions
                            }
                    "
                  ></tr>
                </table>
              </div>
              <div class="text-right">
                <pagination-controls
                  previousLabel="Anterior"
                  nextLabel="Próximo"
                  (pageChange)="currentPage = $event; paginate(currentPage)"
                ></pagination-controls>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div
        [hidden]="
          !(isAdmin$ | async) || (!loading && !loadingForAdvisorSubmissions)
        "
        class="empty-block"
      >
        <mat-progress-spinner
          [diameter]="40"
          color="primary"
          mode="indeterminate"
        >
        </mat-progress-spinner>
      </div>
      <div
        [hidden]="submissionsAdmin.length > 0 || loading || !loadedFirstTime"
        class="empty-block"
      >
        Não existem submissões enviadas
      </div>
    </div>

    <div [hidden]="(isAdmin$ | async) || loading">
      <div class="row justify-content-end h-padding new-button-padding">
        <button
          type="button"
          class="btn btn-success btn-md"
          (click)="navigateToNewSubmission()"
        >
          Nova submissão
        </button>
      </div>
      <div [hidden]="submissions.length <= 0" class="card">
        <div class="card-body">
          <mat-form-field *ngIf="submissions.length > 5" style="width: 100%">
            <div class="form-group row flex-column h-padding">
              <div>
                <mat-label>Digite sua busca</mat-label>
              </div>
              <div>
                <input
                  matInput
                  (keyup)="applyFilter($event.target.value)"
                  class="search-input"
                />
              </div>
            </div>
          </mat-form-field>
          <div
            class="col-12 row top-spacing"
            style="width: 100%; overflow-x: scroll"
          >
            <table mat-table matSort [dataSource]="dataSource">
              <!-- Position Column -->
              <ng-container matColumnDef="counter">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let element; let i = index">
                  {{ i + 1 }}
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Título
                </th>
                <td mat-cell *matCellDef="let element">{{ element.title }}</td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.created_at | date : "dd/MM/yyyy" }}
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="event_short_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Evento
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.event_short_name }}
                </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="event_track_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Trilha
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.event_track_name }}
                </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="presentation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Status
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ getSubmissionStatus(element.status) }}
                </td>
              </ng-container>

              <ng-container matColumnDef="button_edit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="navigateToEditSubmission(element)"
                >
                  <h3 *ngIf="element.status === 'PENDING_CORRECTION'">
                    <i
                      matTooltip="Editar"
                      class="mdi mdi-pencil"
                      onmouseover=""
                      style="cursor: pointer"
                    ></i>
                    <span class="subtitle"> Editar</span>
                  </h3>
                </td>
              </ng-container>

              <ng-container matColumnDef="button_exclude">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let element">
                  <ng-container
                    *ngIf="
                      element.advisorState !== 'advisor_feedback_approved' &&
                      !element.approved
                    "
                  >
                    <h3 (click)="openRemoveDialog(element)">
                      <i
                        matTooltip="Deletar"
                        class="mdi mdi-delete"
                        style="cursor: pointer"
                      ></i>
                      <span class="subtitle"> Deletar</span>
                    </h3>
                  </ng-container>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </div>
      </div>
      <div [hidden]="submissions.length > 0 || loading" class="empty-block">
        Não existem submissões enviadas
      </div>
    </div>
    <div *ngIf="!(isAdmin$ | async) && loading">
      <mat-progress-spinner
        [diameter]="40"
        color="primary"
        mode="indeterminate"
      >
      </mat-progress-spinner>
    </div>
  </div>
</div>
